/* Section assurance  */
.assurance {
  padding: 4rem 7rem;
  display: flex;
}
.assu-container {
  width: 100%;
}
.assu-container > .assu-head {
  line-height: 1;
}
.assu-head {
  font-size: 2.3rem;
  color: var(--color-darkblue);
  padding: 0 1rem;
}
.assu-head span {
  color: rgb(7, 153, 153);
}

.assu-img {
  height: 80vh;
}
.assu-img-2 {
  height: 50vh;
}
.assu-para {
  margin-top: 1rem;
  color: rgb(128, 128, 128);
  line-height: 1.5;
  padding: 0 1rem;
}
.assu-para-1 {
  margin-top: 1rem;
  color: rgb(128, 128, 128);
  /*line-height: 1.5;*/
  padding: 0 1rem;
  line-height: 1.9;
}
.assu-point {
  color: rgb(128, 128, 128);
  margin-top: 2rem;
  padding: 0 1rem;
  line-height: 1.5;
}
.point-img {
  margin-top: 1rem;
  width: 50vh;
}

/* section management  */
.management {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-dark);
}
.management-container {
  width: 60%;
}

.manage-head {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  word-spacing: 0.7rem;
}
.manage-head span {
  color: rgb(5, 192, 161);
}
.manage-para {
  color: rgb(1, 160, 133);
  padding: 0 2rem;
}
.manage-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
