/* Section financial core  */
.financial-core {
  padding: 3rem 8rem;
}

.core-container {
  display: flex;
}
.core-logo {
  display: flex;
  flex-direction: column;
}
.core-img {
  height: 18rem;
  width: 18rem;
}
.core-img2 {
  width: 45vh;
}
.core-head {
  font-size: 3.3rem;
  color: var(--color-darkblue);
  line-height: 1;
}
.core-head span {
  color: rgb(4, 82, 102);
}
#core-para {
  margin-top: 1rem;
  margin-left: 2rem;
  width: 85%;
}
.core-para-1 {
  color: rgb(4, 82, 102);
  margin-top: 1.3rem;
  font-size: 2.2rem;
}
.core-para-2 {
  font-size: 1.6rem;
  margin-top: 1rem;
}
.core-para-2 span {
  color: var(--color-darkblue);
  font-weight: 500;
}
.core-para-3 {
  font-size: 1.6rem;
  margin-top: 1rem;
}
.core-view {
  display: flex;
  border: 1px solid rgb(128, 128, 128);
  margin-top: 2rem;
  padding: 1.8rem;
  border-radius: 1rem;
}
.view-left-item {
  width: 50%;
  padding: 0 4rem;
}
.view-para {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
.view-para span {
  font-size: 1.2rem;
  color: var(--color-darkblue);
  font-weight: 600;
}
.view-para-head {
  margin-top: 1.5rem;
  color: red;
}
.quote {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 2rem;
}

.view-right-item {
  height: 15rem;
  margin-left: 4rem;
  width: 27rem;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 1.2rem;
  background-color: rgba(128, 128, 128, 0.123);
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-icon {
  text-align: center;
}
.view {
  height: 5rem;
  width: 5rem;
}
.packages {
  background-color: #fd7e14;
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 900;
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  position: absolute;
}

/* Section Taxes  */
.Taxes {
  background-color: var(--bg-color-dark);
  padding: 4rem 8rem;
}
.tax-container > .tax-head {
  line-height: 1;
}
.tax-container .tax-para {
  line-height: 2;
}
.tax-head {
  font-size: 3rem;
  color: #fd7e14;
}
.tax-head span {
  color: gold;
}
.tax-para {
  font-size: 1.3rem;
  color: rgba(255, 217, 0, 0.822);
  margin-top: 1.2rem;
  padding: 0 4rem 0 0;
}
.tax-box-content {
  display: flex;
}
.tax-box {
  border: 1px solid gold;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-left: 0.8rem;
  color: gold;
}
.tax-box-content-1 {
  display: flex;
}
.tax-box-1 {
  border: 1px solid gold;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-left: 0.8rem;
  color: gold;
  text-align: center;
}
.tax-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
}
.tax-img {
  height: 20vh;
}

/* Section assurance  */
.assurance {
  padding: 4rem 7rem;
  display: flex;
}
.assu-container {
  width: 100%;
}
.assu-container > .assu-head {
  line-height: 1;
}
.assu-head {
  font-size: 2.3rem;
  color: var(--color-darkblue);
  padding: 0 1rem;
}
.assu-head span {
  color: rgb(7, 153, 153);
}

.assu-img {
  height: 80vh;
}
.assu-img-2 {
  height: 50vh;
}
.assu-para {
  margin-top: 1rem;
  color: rgb(128, 128, 128);
  line-height: 1.5;
  padding: 0 1rem;
}
.assu-para-1 {
  margin-top: 1rem;
  color: rgb(128, 128, 128);
  /*line-height: 1.5;*/
  padding: 0 1rem;
  line-height: 1.9;
}
.assu-point {
  color: rgb(128, 128, 128);
  margin-top: 2rem;
  padding: 0 1rem;
  line-height: 1.5;
}
.point-img {
  margin-top: 1rem;
  width: 50vh;
}

/* section management  */
.management {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-dark);
}
.management-container {
  width: 60%;
}

.manage-head {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  word-spacing: 0.7rem;
}
.manage-head span {
  color: rgb(5, 192, 161);
}
.manage-para {
  color: rgb(1, 160, 133);
  padding: 0 2rem;
}
.manage-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
